@model Farmacia.EntidadesDeNegocio.Farmaceutico

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Farmaceutico</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdFarmaceutico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdFarmaceutico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodFarmaceutico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodFarmaceutico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellidos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ocupación)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ocupación)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sexo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dirección)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dirección)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Teléfono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Teléfono)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
