@model Farmacia.EntidadesDeNegocio.Recibo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Recibo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdRecibo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdRecibo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoRecibo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoRecibo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadMedicamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadMedicamento)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
